.hader{
    min-height: 50px;
    background-color: #5b5bf1;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.hader a{
    text-decoration: none;
    color: seashell;
    font-size: 50px;
}
.hader a[class='active']{
    color: yellow;
}